<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">
</head>
<body>
    <form class="cadastro" method="POST" action="/cadastro">
        <div class="container">
            <h1>Cadastro</h1>

            <input type="text" id="nome" name="nome" placeholder="Nome" required>

            <input type="email" id="email" name="email" placeholder="Email" required>

            <input type="password" id="senha" name="senha" placeholder="Senha" required>

            <button type="submit">Cadastrar-se</button>

            <h2><a href="/">Já tem uma conta?</a></h2>
        </div>
    </form>
</body>
</html>
