<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="../icon/8522214.png" type="image/x-icon">

    <title>Quiz Cyber Security</title>
  </head>
  <body>
    <nav>
      <div class="nav-img">
      <img class="trofeu" width="50px" src="img/9512451.png" alt="trofeu.png" />
      <img class="profile" width="50px" src="img/images.jpeg" alt="profile.jpeg">
      </div>
    </nav>

    <main>
      <div class="container">
        <h1>Cyber Security</h1>

        <div>
         
        <a href="{{ url_for('jogo') }}"><button type="button">Jogar</button></a>

          <a href="/cadastro">Cadastro</a>
          <a href="/login">Login</a>         
          <a href="/ranking">Ranking</a>      
        
      </div>
    </main>

    
  </body>
</html>