<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Security Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jogo.css') }}" />
     <script type="module" src="{{ url_for('static', filename='js/quest.js') }}"></script>
     <script type="module" src="{{ url_for('static', filename='js/QuizConfig.js') }}"></script>

  </head>
  <body>
    <nav class="menu">
      <div class="div-menu">
        <ul>
          <div class="bonus"><li>Bonus</li></div>
          <div class="direita">
            <div class="config-icon" onclick="toggleConfigMenu()">
              <img
                class="rotating-image"
                src="/icon/gear-fill.svg
                "
                alt="gear.svg"
                width="25px"
              />
            </div>

            <div class="config-box" id="configBox">
              <h1>Configurações</h1>

              <button onclick="toggleConfigMenu()">Fechar</button>
            </div>

            <!-- <li class="engrenagem"><img width="25px" src="/icon/gear-fill.svg" alt="gear.svg" ></li> -->
            <img
              class="fullscreen"
              width="20px"
              src="/icon/arrows-fullscreen.svg"
              alt="arrows.svg"
            />
            <!--Pode ser um botao para deixar em fullscreen "f11"-->
          </div>
        </ul>
      </div>
    </nav>

    <main>
      <div class="perguntas" id="quest">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo
          voluptatibus nihil doloribus beatae fugiat dolores vitae, incidunt
          nulla? Consequatur animi repellendus cupiditate tempore voluptatibus
          voluptatum earum delectus omnis ducimus minus.
        </p>
      </div>

      <div class="respostas">
        <!-- Preenche os botões com as respostas da primeira pergunta -->
        <button id="a"></button>
        <button id="b"></button>
        <button id="c"></button>
        <button id="d"></button>
      </div>
    </main>

    <footer>
      <div class="Nome">
        <!-- Exibe o nome do usuário logado (se existir) -->
        <p>{{ session['usuario'] if session.get('usuario') else 'Visitante' }}</p>
      </div>
    </footer>

  </body>
</html>

