<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <form class="login-container" method="POST" action="/login">
        <div class="container">
            <h1>Login</h1>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Entrar</button>
            <h2><a href="/">Voltar</a></h2>
            <p><a href="/senha">Esqueci minha senha</a></p>
        </div>
    </form>
</body>
</html>
