@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bungee Spice", sans-serif;
    
    
}

body {
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(0, 41, 66, 1) 20%, rgba(0, 89, 54, 1) 79%, rgba(0, 0, 0, 1) 100%);
}




.cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
} 

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    
    padding: 90px;
    background: #12212e7e;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.192);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h1 {
    font-weight: 400;
    font-size: 50px;
    color: #000000fd;
    text-align: center;
    margin-bottom: 20px;
}

input {
    display: flex;
    margin: 15px;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: #0000003a;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 10px;
    margin-top: 10px;
    width: 140px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    color: #000;
    background-color: #0000003a;
   
}

button > a{ 
    padding: 5px;
    font-size: 19px;
    border-radius: 10px;
    border: none;
    color: #000;
    text-decoration: none;
    font-weight: 300;
    
}


button:hover {
    background-color: #00000093;
    color: #fff;
    transition: 0.5s;
}

h2 {
    font-size: 20px;
    color: #000;
    text-align: center;
    margin: 20px;
    
}

h2 > a {
    text-decoration: none;
    color: #757171cc;
    font-size: 15px;
    margin: 20px;
    
}
h2 > a:hover {
    color: #fff;
    transition: 0.5s;
}